.arrowbox{

    margin-left: 3vh;
    transition: transform 0.1s;
    height: 100%;

    .arrow{

        text-decoration: none;
        color: var(--white-text-color);
        font-size: calc(2*var(--font-size));

    }

    &:hover{

        

    }

}