<mat-toolbar color="primary">

  <button *ngIf="back" [routerLink]="back" mat-icon-button class="example-icon" aria-label="back">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  
  <span>{{ title }}</span>

  <span class="spacer"></span>

  <span>
    <button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </span>

</mat-toolbar>
