<mat-toolbar color="primary">

  <button *ngIf="back" [routerLink]="back" mat-icon-button class="icon" aria-label="back">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  
  <span>{{ title }}</span>

  <span class="spacer"></span>

  <span>
    <button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu"> 
      <button class="menuPoints" *ngFor="let menuPoint of menuPoints" mat-menu-item [routerLink]="menuPoint.link">
        <mat-icon *ngIf="menuPoint.icon!=''">{{ menuPoint.icon }}</mat-icon>
        <span>{{ menuPoint.menuPointName }}</span>
      </button>
    </mat-menu>
  </span>

</mat-toolbar>
