.content{

    padding: 10px;

    app-emission-item{

        cursor: pointer;
        transition: all .15s ease-in-out;

        &:hover{

            transform: scale(1.003);

        }
    }
}
#add_button{
    position: fixed;
    bottom: 25px;
    right: 25px;
}

