<div	
	gdColumns.gt-md="1fr 1fr"
	gdColumns.lt-md="1fr"
	gdGap="25px"
	style="margin: 25px"
	(resized)="onResize($event)">
	<mat-card>
		<mat-card-title>Diff</mat-card-title>
		<app-bar-diagram-compare [data]="data"></app-bar-diagram-compare>
	</mat-card>

	<mat-card>
		<mat-card-title>Bar</mat-card-title>
		<app-bar-diagram-both [data]="data"></app-bar-diagram-both>
	</mat-card>

	<mat-card gdColumn.gt-md="span 2">
		<mat-card-title>Table</mat-card-title>
		<table mat-table [dataSource]="tableData">
		  <ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let element">{{element.name}}</td>
		  </ng-container>

		  <ng-container matColumnDef="dataone">
			  <th mat-header-cell *matHeaderCellDef>{{titleOne}}</th>
			<td mat-cell *matCellDef="let element">{{element.one}} kg CO²</td>
		  </ng-container>

		  <ng-container matColumnDef="datatwo">
			  <th mat-header-cell *matHeaderCellDef>{{titleTwo}}</th>
			<td mat-cell *matCellDef="let element"> {{element.two}} kg CO²</td>
		  </ng-container>

		  <ng-container matColumnDef="diff">
			<th mat-header-cell *matHeaderCellDef>Diff</th>
			<td mat-cell *matCellDef="let element">{{element.one - element.two}} kg CO²</td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</mat-card>
</div>
