
.box{

    display: flex;
    align-items: center;
    margin-bottom: calc(2.5*var(--padding-in-calculation));
    height: var(--title-box-height);
    background-color: var(--green-background-color);

    .title{

        margin-left: 5%;
        font-weight: normal;
        font-size: calc(1.25*var(--font-size));
        color: var(--white-text-color);
        transition: transform 0.2s;
        
        &:hover{

            cursor: default;
            transform: scale(1.02);

        }

    }

    .dots{

        margin-left: auto;
        margin-right: 5%;
        transition: transform 0.2s;

        &:hover{

            cursor: pointer;
            

        }

    }

    .dots::after{

        color: var(--white-text-color);
        content: '\2807';
        font-size: calc(1.25*var(--font-size));

    }

}
