mat-card{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
     user-select: none; 
     
    margin-left: auto;
    margin-right: auto;
    transition: all .15s ease-in-out;
    width: 50%;
    color: var(--text-primary-lighter-color);
    margin-top: 15px;
    padding: 15px;

    p{
        text-align: left;
        margin: auto 0;
    }
    &:hover{
        transform: scale(1.007);
    }
    @media screen and (max-width: 800px) {    
        width: 90%;
    }
}
