.modules-check{
	margin: 10px 0;
	p{
		font-weight: bold;
	}
	.modules-list{
		margin: 5px 0;
		div{
			width: 100%;
			padding: 10px;
			border-bottom: 1px gray solid;
			&:last-child{
				border-bottom: none;
			}
		}
	}
}
