<h2 mat-dialog-title>Import</h2>
<div mat-dialog-content>
	<app-file-upload (file)="handleFileUpload($event)"></app-file-upload>

	<div class="modules-check" *ngIf="loadedModules.length > 0">
		<p>These modules will get added:</p>
		<div class="modules-list">
			<div *ngFor="let module of loadedModules">
				{{"modules." + module.id | translate}}
			</div>
		</div>
	</div>
</div>
<div mat-dialog-actions align="end">
	<button mat-button cdkFocusInitial mat-dialog-close>Close</button>	
	<button mat-flat-button color="primary" [mat-dialog-close]="importData" [disabled]="importData == null">Import</button>
</div>
