.card{

    width: 80%;
    margin-left: 10%;
    margin-top: var(--padding-in-calculation);

    border: solid var(--black-text-color) 1px;
    border-radius: calc(0.4*var(--padding-in-calculation));

    box-shadow: calc(0.07*var(--padding-in-calculation)) calc(0.07*var(--padding-in-calculation));
    transition: transform .2s;

    &:hover{

        cursor: pointer;

        transform: scale(1.01);

        box-shadow: 0 0 calc(0.5*var(--padding-in-calculation)) var(--green-background-color);

        transition: box-shadow 0.15s ease-in-out;

    }

    .center{
        
        margin: var(--padding-in-calculation) var(--padding-in-calculation) var(--padding-in-calculation) var(--padding-in-calculation);
        

    }

}