*{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
     user-select: none; 
}
.factorEmissionModule{

    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: var(--text-primary-lighter-color);
    margin-top: 15px;
    padding: 15px;

    mat-card{

        display: flex;
        justify-content: center;

        input{
            padding: 10px 10px 0px 10px; 
            border-width: 0 0 2px;
            width: 80%;
        }
        input:focus{
            outline: none;
        }
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
             margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
          }
        p{
            font-size: x-large;
            font-weight: bold;
            margin-top: auto;
        }
    }
    @media screen and (max-width: 800px) { 
        width: 90%;
    }
    .result{
        font-size: larger;
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, 0%);
        border: solid 2px;
        border-width: 0px 0px 2px;
    }
}