div {
	position: relative;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		position: absolute;
		transform: translate(-50%, -80%);
		height: auto;
		pointer-events: none;
	}

	h3 {
		position: relative;
		z-index: 101;
		font-size: 100pt;
		//background: #55555555;
	}
}
