@import '@angular/material/theming';
// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
}


button{

  color: white;
  background: none;
  border: none;
  cursor: pointer;

}
.menuPoints{

  color: var(--text-accent-color);

}
.fixmenu{
  top: 8% !important;
}

.logo{
  height: calc(100% - 20px);
  width: auto;
  margin-right: 10px;
}
img
{
  width: auto;
  height: 100%;
}
mat-toolbar
{
  height: 12vh;

}
.title{
  display: flex;
  margin-left: 5px;
  font-size: 1.5em;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  white-space: normal;
}

