<div style="padding: 10px 30px;">
    <mat-card *ngFor="let id of ids">
        <mat-card-header>
            <p fxFlex>{{ "types." + id | translate }}</p>
            <p fxFlex style = "font-weight: bold;">[{{module.id == "electricity_emission_module" ?"kWh":"km"}}/{{"year"|translate}}]</p>
            <button (click)="create(id)" mat-icon-button class="icon" aria-label="addModule">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-header>
    </mat-card>
</div>

