<mat-card> 

  <mat-card-header>
      
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-icon routerLink="./{{ title }}"> border_color</mat-icon>

  </mat-card-header>

  <mat-card-content>

    <table mat-table [dataSource]="values" class="mat-elevation-z8">
          
      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let element"> {{ element.split(";")[0] }} </td>
        </ng-container>
    
      <!-- Numbers Column -->
      <ng-container matColumnDef="number">
          <td class="numbers" mat-cell *matCellDef="let element"> {{ element.split(";")[1] }} </td>
        </ng-container>
    
    
      <tr mat-row *matRowDef="let row; columns: ['name','number'];"></tr>
      
    </table>
        
  </mat-card-content>

</mat-card> 
