<mat-card> 

  <mat-card-header>
      
      <mat-card-title>{{ module.id }}</mat-card-title>
      <mat-icon routerLink="./{{ module.id }}"> border_color</mat-icon>

  </mat-card-header>

  <mat-card-content>

    <table mat-table [dataSource]="data">
          
      <!-- Name Column -->
      <ng-container matColumnDef="number">
          <td mat-cell *matCellDef="let data"> {{ data.number }} </td>
        </ng-container>
    
      <!-- Numbers Column -->
      <ng-container matColumnDef="result">
          <td class="numbers" mat-cell *matCellDef="let data"> {{ data.result }} </td>
        </ng-container>
    
    
      <tr mat-row *matRowDef="let row; columns: ['number','result'];"></tr>
      
    </table>
        
  </mat-card-content>

</mat-card> 
