<mat-card> 

  <mat-card-header fxLayoutAlign="space-between center">
      
      <mat-card-title>{{ "modules." + module?.id | translate }}</mat-card-title>
      <mat-icon routerLink="./{{ module?.id }}"> border_color</mat-icon>

  </mat-card-header>

  <hr>

  <mat-card-content>

    <div class= "valueGroup" *ngFor="let data of data" fxLayout="row" fxLayoutAlign="space-between center">

      <p let >{{ data?.number }} Unit</p>
      <p let >{{ data?.result }} kg CO²</p>

    </div>
     
  </mat-card-content>

</mat-card> 
